<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% assign collections = site.collections | sort: 'sequence' %}
    {% for collection in collections %}
        {% for link in site.[collection.label] %}
            {% if collection.title and collection.sequence > 0 %}
                {% if forloop.first %}
                    <li class="nav-header">{{ collection.title }}</li>
                {% endif %}
                <li data-order="{{ link.order }}">
                    {% if link.url == page.url %}
                        <a class="is-active" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                    {% else %}
                        <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
</ul>
