<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for link in site.categories[attr] %}
            {% if forloop.first %}
                <li class="nav-header">{{ label }}</li>
            {% endif %}
            <li data-order="{{ link.order }}">
                {% if link.url == page.url %}
                    <a class="is-active" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                {% else %}
                    <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
</ul>
