<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
    <a class="fork-me-in-github show-in-fullscreen" href="https://github.com/{{site.github.repo}}"><img style="z-index: 1000; position: absolute; top: 0; left: 0; border: 0;" src="{{site.baseurl}}/images/fork-me-left-orange.png" height="125" width="125" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"></a>

        <div class="container">
            <div class="row">
                <div id="header" class="col-sm-12">
                    {% include header.html %}
                </div>
            </div>

            <div class="row" id="search-results-box" style="display: none">
                <h3>Search results</h3>
                <ul id="results-container"></ul>
            </div>

            <!-- See assets/main.js for logic -->
            <div class="row" id="webinar-banner" data-date="2021-01-14">
              <!-- Remeber to bump the date to make webinar banner visible! -->
              <span class="close">X</span>
              <p lang="fi">WordPress-kehittäjä, älä missaa <a href="https://wp-palvelu.fi/blogi/webinaari-hakutoiminnon-toteuttaminen-ja-raatalointi-wordpressissa/">ilmaista webinaariamme WordPressin hakutoiminnosta tammikuun 14. päivä</a>!</p>
              <p lang="sv">WordPress-utvecklare, missa inte vår <a href="https://seravo.se/blogg/webinar-anpassa-wordpress-sokningen/">gratis webbinar om sökningen in WordPress den 14. januari</a>!</p>
              <p lang="en">WordPress developer, don't miss our <a href="https://seravo.com/blog/webinar-search-function-and-how-to-customize-it/">free webinar about search in WordPress on January 14th</a>!</p>
            </div>

            <div class="row">
                {% assign post_count = site.posts|size %}
                {% if site.navigation != 0 and site.navigation == 1 or post_count > 0 %}
                    <div id="navigation" class="col-sm-2">
                        {% include navigation.html %}
                    </div>

                    <div id="content" class="col-sm-10">
                        {% include anchor_headings.html html=content anchorClass="glyphicon glyphicon-link anchor-link-icon" %}
                    </div>
                {% else %}
                    <div id="content" class="col-sm-12">
                        {% include anchor_headings.html html=content anchorClass="glyphicon glyphicon-link anchor-link-icon" %}
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div id="footer" class="col-sm-12">
                    {% include footer.html %}
                </div>
            </div>
        </div>

        <script>
            function orderNav() {
                var list,
                    section,
                    header,
                    sections = [],
                    lists = {},
                    headers = {};

                var navUl = document.querySelectorAll('#navigation ul')[0],
                    navLis = document.querySelectorAll('#navigation ul li');

                if (!navUl) return;

                for (var i = 0; i < navLis.length; i++) {
                    var order, li = navLis[i];

                    if (li.classList.contains('nav-header')) {
                        section = li.textContent || li.innerText;
                        sections.push(section);
                        headers[section] = li;
                        continue;
                    }

                    if (!lists[section]) {
                        lists[section] = [];
                    }

                    order = parseFloat(li.getAttribute('data-order'))
                    lists[section].push([order, li]);
                }

                for (var i = 0; i < sections.length; i++) {
                    section = sections[i];
                    list = lists[section].sort(function(a, b) {
                        return a[0] - b[0];
                    });

                    if (header = headers[section]) {
                        navUl.appendChild(header);
                    }
                    for (var j = 0; j < list.length; j++) {
                        navUl.appendChild(list[j][1]);
                    }
                }
            }

            if (document.querySelectorAll) orderNav();
        </script>
        {% if site.google_analytics_id != "" %}
        {% include google_analytics.html %}
        {% endif %}
    </body>
</html>
