---
layout: default
---

<div class="page-header">
      <div class="row">
        <div class="col-md-9">
          <h1>{{ page.title }}
              {% if page.subtitle %}<small>{{ page.subtitle }}</small>{% endif %}
          </h1>
        </div>
        <div class="col-md-3">
          <a href="{{site.github_url}}/edit/gh-pages/{{page.path}}" class="edit-this-in-github btn btn-default pull-right-md pull-left-sm"><i class="glyphicon glyphicon-wrench"></i> &nbsp;Edit this page in GitHub</a>
        </div>
      </div>      
</div>

{{ content }}
